@import "tailwindcss";

.p-text {
 color:  #00192D;
}



.p-bg {
 background :  #00192D;
}

@layer utilities {
  .animate-marquee {
    animation: marquee 34s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

